@model WEDASPNETCORECRUD.Models.AddTeacherViewModel

@{
}

<h1>Add Teachers</h1>
<form method="post" action="Add" class="mt-5"> 
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Deparment</label>
        <input type="text" class="form-control" asp-for="Deparment">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
